<div class="ui four column centered doubling stackable grid" style="padding-top: 54px; margin-top: 0px;">
  <div class="row">
    <a class="ui button" href="#/pictures">
      <i class="angle left icon"></i>
      Back
    </a>
  </div>
  <div class="column">
    <form class="ui form segment">
      <div class="field">
        <new-picture-card picture="picture" date="newdate"></new-picture-card>
      </div>
      <div class="field">
        <label>Title</label>
        <input name="title" placeholder="Title" ng-model="picture.title" type="text">
      </div>
      <div class="field">
        <label>URL</label>
        <input name="url" placeholder="URL" ng-model="picture.url" type="text">
      </div>
      <button class="ui button" type="submit" ng-click="Add()">Add</button>
    </form>
  </div>
</div>
