<div class="ui inverted vertical masthead center aligned segment" style="padding-top: 54px; margin-top: 0px;">

  <div class="ui text container">
    <div class="ui huge inverted header"><img class="ui  image" src="assets/images/icon.png">
      GoGerard
    </div>
    <h3>A Modern Bot for Discord!</h3>
    <div class="ui divider"></div>
    <div class="ui centered huge rounded fade reveal image">
      <img class="visible content" src="assets/images/discord.png">
      <img class="hidden content" src="assets/images/gg.png">
    </div>
    <div class="ui divider"></div>
    <h4>Powered By: Golang, AngularJS and Discord</h4>
    <a class="ui huge primary button" href="#/pictures">Go
      <i class="right arrow icon"></i>
    </a>
  </div>

</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>Open Source Project!</h3>
        <p>
          <img class="ui tiny avatar image" src="assets/images/github.png">
          <b>Fork me</b>
          <i>On Github!</i>
        </p>
      </div>
      <div class="column">
        <h3>Easy Docker Deployment!</h3>
        <p>
          <img class="ui tiny avatar image" src="assets/images/docker.png">
          <b>Saves you</b>
          <i>a lot of time!</i>
        </p>
      </div>
      <div class="column">
        <h3>Content Manager for your Bot!</h3>
        <p>
          <img class="ui tiny avatar image" src="assets/images/discordlogo.png">
          <b>Add and Edit content,</b>
          <i>for your bot to send!</i>
        </p>
      </div>
    </div>
  </div>
</div>
